version: '3'
services:
  api:
    image: openjdk:17
    # m1Macに必要な設定
    platform: linux/arm64/v8
    container_name: Company_Simulation-API
    # 常時起動させる
    tty: true
    environment:
      # mysqlの接続設定 host:portはコンテナ名指定
      spring.datasource.driverClassName: "com.mysql.cj.jdbc.Driver"
      spring.datasource.url: "jdbc:mysql://db:3306/company_simulation"
      spring.datasource.username: "user"
      spring.datasource.password: root
    volumes:
      - ./company_simulation_api-0.0.1-SNAPSHOT.jar:/company_simulation_api-0.0.1-SNAPSHOT.jar
    ports:
      - "8080:8080"
  db:
    image: mysql:5.7
    # m1Macに必要な設定
    platform: linux/amd64
    # コンテナ名を設定
    container_name: "Company_Simulation-DB"
    environment:
      # rootのパスワードを設定
      MYSQL_ROOT_PASSWORD: root
      # DBを作成
      MYSQL_DATABASE: company_simulation
      # ユーザ作成
      MYSQL_USER: user
      MYSQL_PASSWORD: root
    expose:
      - 3306
    volumes:
      # データ永続化
      - ./data:/var/lib/mysql
      # 設定ファイル共有
      - ./db/my.cnf:/etc/mysql/conf.d/my.cnf
      # 初期データをマウントする場所,sqlを共有
      - ./db/sql:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"